#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color: #ec9616;
}

/*This makes it so the background doesn't appear in the margins*/
body{
    margin: 0;
    padding: 0;
}

header{
  background-color: #204862;
  height: 150px;
}

.navBar{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  font-family: 'Alata', sans-serif;
  top: 149px;
  font-size:35px;
}

/*Gets rid of the underlines on hyperlinks*/
a:link{
  text-decoration: none;
  font-family: 'Francois One', sans-serif;
  color: #eeddee;
}

a:visited{
  color: #eeddee;
}

a:hover{
  color: #ee81ee;
}

#topBox{
  position: relative;
  border-radius: 40px;
  background-color: rgba(251, 239, 63, 0.8);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 20vw;
}
main{
  background-size:cover;
  background-position: center;
  height: 100vh;
}

.meetings h1 {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}


/*.bottomBar{
  position: relative;
  bottom: 35px;
  margin: auto;
  text-align: center;
  border: 6px solid #8740c5;
  background-color: #ff84D2;
  border-radius: 40px;
  width: 650px;
  height: 70px;
  font-size: 50px;
}*/

footer{
  background-color: #204862;
  height: 140px;
}

.footNav{
  text-align: center;
  justify-content: space-around;
  display: flex;
  /*
  position: relative;
  font-size: 35px;
  top: 50px;*/
}

.footNav h1{
  font-family: 'Francois One', sans-serif;
  color: #eeddee;
}

.emptyTop{
  height: 200px;
}

.emptyMiddle{
  height: 20px;
}

.emptyBottom{
  height: 50px;
}

@media only screen and (max-width:1024px){

  header{
    background-color: #204862;
    height: 60px;
  }

  .navBar{
    font-size: 15px;
    height: 100px;
  }

  .logo{
    position: relative;
    width: 110px;
    bottom: 28px;
  }

  #topBox{
    position: relative;
    border-radius: 40px;
    background-color: rgba(251, 239, 63, 0.8);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 82%;
    height:100%;
  }
  
  main{
    background-size:cover;
    background-position: center;
    height: 90vh;
  }

  .meetings h1 {
    font-size: 20px;
  }

  .bottomBar{
    position: relative;
    bottom: 35px;
    margin: auto;
    text-align: center;
    border: 6px solid #8740c5;
    background-color: #ff84D2;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    font-size: 22px;
  }

  .bottomBar a{
      position: relative;
      top:10px;
  }

  footer{
    background-color: #204862;
    height: 70px;
  }

  .footNav h1{
    font-family: 'Francois One', sans-serif;
    color: #eeddee;
  }

  .footNav{
    text-align: center;
    justify-content: space-around;
    display: flex;
    position: relative;
    font-size: 9px;
    /*
    font-size: 15px;
    top: 25px;*/
  }

  .emptyTop{
    height: 80px;
  }

  .emptyBottom{
    height: 60px;
  }

}
